/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  body{
    margin: -10;
    padding: -10;
    background: url("https://i.pinimg.com/originals/ef/70/85/ef7085be91d78613f0938fee57e45f4a.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .fullPageContainer{
    text-align: center;
  }

  .divLoginUserPassInputsAndButtons{
    display: grid;
    -ms-grid-row-align: start;
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
    background-color: rgb(230, 230, 230);
    border-radius: 30px;
    padding: 60px;
  }

  .imageIcon{
    height: 50px;
    width: 50px;
    display: block;
  }

  .divImageIcon{
      display: grid;

  }

  .buttonLogin{
    border: none;
    background: none;
    align-content: center;
    font-size: x-large;
  }

  .divButtonLogin{
    padding: 15px 40px;
    border: 10;
    align-content: center;
    border-radius: 20px;
    background-image: linear-gradient(to right, #00C5FF, #83defa);
    border: 10px black;
    
  }

  .divButtonLogin:active{
    background-image: linear-gradient(to right, #007ea5, #67a2b4);
  }

  input{
    border: 10px black;
    border-radius: 15px;
  }
  
  input>::placeholder{
    text-align: center; 
    align-self: middle;
  }